.home{
    width: 100%;
    height: 76%;
    /* background-color: aqua; */
}

.home-container{
    width: 70%;
    margin-left: 5%;
    height: 100%;
    /* background-color: blue; */
}

.home-content{
    /* background-color: blueviolet; */
    height: 80%;
    padding-top: 10%;
}

.language-selection{
    font-size: 2em;
    margin-left: 2%;
}

.home-content-btn{
    width: 25%;
    height: 20%;
    margin-top: 5%;
    float: left;
    margin-left: 2%;
}
